header{width:100%; position:relative; background-color:#ffffff; z-index:20;}


/* ヘッダー背景ななめ */
.header_cover{-webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%); clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%); background: #9cd5ff; height:400px; width:100%; position:absolute; bottom:0px; left:0; z-index:0;}

/* ヘッダーメニュー */
.top_news{width:100%; background-color:#ffaf2f; padding:10px 0px; margin:0;}
@media screen and (min-width:770px){
    .header_pc{display:block;}
    .header_mobile{display:none;}
    .header_pc .top_info{height:80px; overflow:hidden;}
    .header_pc .header_logo{height:50px; margin-top:15px;}
    .header_pc .top_most_important{height:50px; margin-top:15px; float:right; margin-left:10px;}
    .header_pc .top_most_important img{height:50px; width:auto; margin:0;}
    .header_pc .top-nav{box-shadow:0px 0px 10px 0px;}
    .header_pc .top_most_important_sns{height:40px; width:40px; margin-top:20px; float:right; color:white; border-radius:5px; margin-left:10px; border-bottom:2px solid #5d5d5d; transition:0.3s;}
    .header_pc .top_most_important_sns:hover{border:none; opacity:0.7;}
    .header_pc .top_most_important_sns i{height:40px; width:40px; line-height:40px; text-align: center;}
    .header_pc .facebook{background-color:#3B5998;}
    .header_pc .twitter{background-color:#1DA1F2;}
    .header_pc .youtube{background-color:#FF0000;}
}
@media screen and (max-width:769px){
    .header_mobile{display:block; position:relative;}
    .header_pc{display:none;}
    .header_mobile{width:100%; height:55px; background-color:#ffffff; box-shadow:0px 2px 2px;}
    .header_mobile .header_logo{height:35px; margin-top:10px;}
    /* ハンバーガーボタン */
    .menu-trigger,.menu-trigger span {display: inline-block; transition: all .4s; box-sizing: border-box;}
    .menu-trigger {position: relative; width: 40px; height: 34px; margin-top:10px; float:right;}
    .menu-trigger span {position: absolute; left: 0; width: 100%; height: 4px; background-color: #fff; border-radius: 4px;}
    .menu-trigger span:nth-of-type(1) {top: 0;}
    .menu-trigger span:nth-of-type(2) {top: 15px;}
    .menu-trigger span:nth-of-type(3) {bottom: 0;}
    .menu-trigger.active span:nth-of-type(1) {-webkit-transform: translateY(15px) rotate(-315deg); transform: translateY(15px) rotate(-315deg);}
    .menu-trigger.active span:nth-of-type(2) {opacity: 0;}
    .menu-trigger.active span:nth-of-type(3) {-webkit-transform: translateY(-15px) rotate(315deg); transform: translateY(-15px) rotate(315deg);}
    /* //ハンバーガーボタン */
    .header_cover_mobile{-webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%); clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%); background: #55b0ff; height:55px; width:80px; position:absolute; bottom:0px; right:0; }
    #mobile_menu{width:100%; position:absolute; top:55px; left:0; padding-bottom:10px; background-color:#427cff; display:none; box-shadow:0px 2px 2px; z-index:2;}
    #mobile_menu .sns_icon{width:100%; background-color:white; padding:10px; margin:10px 0; text-align:center;}
    #mobile_menu .top_most_important_sns{height:40px; width:40px; color:white; border-radius:5px; margin:0px 5px; border-bottom:2px solid #5d5d5d; transition:0.3s; display:inline-block;}
    #mobile_menu .top_most_important_sns i{height:40px; width:40px; line-height:40px; text-align: center;}
    #mobile_menu .facebook{background-color:#3B5998;}
    #mobile_menu .twitter{background-color:#1DA1F2;}
    #mobile_menu .youtube{background-color:#FF0000;}
    #mobile_menu .top_most_important{height:50px; text-align:center; margin:0px 5px;}
    #mobile_menu .top_most_important img{height:50px; width:auto; margin:0;}
}
/* //ヘッダーメニュー */

/* おすすめスライダー */
.slide-arrow{position:absolute; z-index:10; width:50px; height:50px;}
.prev-arrow{top:calc(50% - 25px); left:10%; /* 任意の値 */}
.next-arrow{top:calc(50% - 25px); right:10%; /* 任意の値 */}

.slick-slide, .slick-slide *{ outline: none !important;} /*アウトライン削除*/
.top-slider a{text-decoration:none; border:none;}
.top-slider a:hover {text-decoration:none; border:none;}
.slick-slide:not(.slick-current) .text span{display:none;} /*非表示中のスライドの子要素を非表示*/
.slick-current span{display:none;} /*現在のスライドの子要素を非表示*/
.top-slider .text_large span{font-family: Meiryo, "Helvetica Rounded", Arial, sans-serif; text-transform: uppercase; display: block; font-size: 92px; color: #f1ebe5; text-shadow: 0 0px 9px #41c3ff, 0px -2px 1px rgba(41, 41, 41, 0.397); font-weight: bold; letter-spacing: 4px;}

@media screen and (min-width: 1050px) {
    .top-slider{width:100%; margin:30px 0;}
    .top-slider .contents{height:350px; width:750px; position:relative;}
    .top-slider .contents_img{height:350px; width:90%; margin:0 auto; background-size:cover; border-radius: 20px;}
    .top-slider-margin{width:100%; height:20px;}
    .top-slider .text{position:absolute; bottom:20px; left:3%;}
    .top-slider .text_large span{color:#ffffff;font-size:40px; padding:5px;}
    .top-slider .text_small span{background-color:#000000; color:#ffffff;font-size:20px; padding:5px;}
    .top-slider .text_small{margin-top:10px;}
}
@media screen and (max-width: 1049px) {
    .top-slider{width:100%; margin:0; height:400px;}
    .top-slider .contents{height:400px; width:100%; position:relative;}
    .top-slider .contents_img{height:400px; width:100%; background-size:cover;}
    .top-slider .text{position:absolute; bottom:20px; left:3%;}
    .top-slider .text_large span{color:#ffffff;font-size:40px; padding:0px 5px;}
    .top-slider .text_small span{background-color:#000000; color:#ffffff;font-size:20px; padding:5px;}
    .top-slider .text_small{margin-top:10px;}
    .header_cover{display:none;}
}
@media screen and (max-width: 720px) {
    .top-slider{width:100%; margin:0; height:300px;}
    .top-slider .contents{height:300px; width:100%; position:relative;}
    .top-slider .contents_img{height:300px; width:100%; background-size:cover;}
    .top-slider .text{position:absolute; bottom:20px; left:3%;}
    .top-slider .text_large span{color:#ffffff;font-size:30px; padding:0px 5px;}
    .top-slider .text_small span{background-color:#000000; color:#ffffff;font-size:10px; padding:5px;}
    .top-slider .text_small{margin-top:10px;}
}
/* //おすすめスライダー */

/* 協会リンク */
.top_agse{background-color:#427cff; text-align:center; padding:5px 0; cursor:pointer;}
.top_agse p{margin:0; padding:0; font-weight:bold;}
.top_agse a{color:white;}
.top_agse a:hover{text-decoration:none; color:white;}
.top_agse:hover{background-color:#9bbaff;}
/* //協会リンク */

/* ヘッダー */
header {
  margin-bottom: 80px;
}

header #header{
  position: static;
  position: fixed;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
  z-index: 1;
  top:0;
}

#header .header-box {
  width: 100%;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  display: flex;
  transition:all 0.3s;
}

#header .header-box.hidemenu {
  transform: translateY(-80px);
}

#header .header-box .pc-only .menu-box {
  margin-right: 50px;
}

#header .header-box .pc-only .menu-box ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 0;
}

#header .header-box .pc-only .menu-box li.menu-item {
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0 20px;
  color: black;
  list-style: none;
}

#header .header-box .pc-only .menu-box li.menu-item a {
  text-decoration: none;
  font-weight: 700;
  color: #3b3b3b;
}

#header .header-box .logo {
  height: 40px;
  margin: 10px;
  margin-left: 20px;
  margin-right: auto;
}

#header .sm-menu-box {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%),
  url(../img/background/space-ballon.jpg) center / cover ;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateX(100vw);
  transition: all 0.5s;
}

#header .sm-menu-box.active {
  transform: translateX(0vw);
}

#header .sm-menu-box-inner {
  width: 100%;
  max-height: 100%;
  overflow: scroll;
  padding: 100px 20px 20px;
  color: white;
  text-align: left;
}

#header .sm-menu-box-inner h2.title {
  color: white;
  border-left: none;
}

#header .sm-menu-box-inner ul.menu {
  padding: 15px 0;
  margin-bottom: 0;
}

#header .sm-menu-box-inner li.menu-item {
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  list-style: none;
}

#header .sm-menu-box-inner li.menu-item a {
  border-top: none;
  color: white;
}

#header .sm-menu-box-inner a.btn-img {
  padding: 10px;
}

#header .sm-menu-box-inner a.btn-img img {
  width: 100%;
  margin: 0px;
}

/* ヘッダーメニューボタン */
#header .header-box .sm-only .menu-btn {
  background: #dadada;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 1;
  transition: all .4s;
}

#header .header-box .sm-only .menu-btn .btn-trigger,
#header .header-box .sm-only .menu-btn .btn-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

#header .header-box .sm-only .menu-btn .btn-trigger {
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
}

#header .header-box .sm-only .menu-btn .btn-trigger span {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 6px;
  background-color: #3f3f3f;
  border-radius: 4px;
}

#header .header-box .sm-only .menu-btn.active {
  background: #258bff;
}

#header .header-box .sm-only .menu-btn.active .btn-trigger span {
  background-color: #ffffff;
}

#header .header-box .sm-only .menu-btn .btn-trigger span:nth-of-type(1) {
  top: 0;
}

#header .header-box .sm-only .menu-btn .btn-trigger span:nth-of-type(2) {
  top: 14px;
}

#header .header-box .sm-only .menu-btn.active .btn-trigger span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
}

#header .header-box .sm-only .menu-btn.active .btn-trigger span:nth-of-type(2) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-7px) rotate(45deg);
}


/* フレックスボックス関連のスタイル */
.f-right {
  margin-left: auto;
}

.f-left {
  margin-right: auto;
}

/* media size setting */
@media only screen and (min-width: 875px) {
  .pc-only {
    display: inline-block;
  }

  .sm-only {
    display: none;
  }
}
@media only screen and (max-width: 874px) {
  .pc-only {
    display: none;
  }

  .sm-only {
    display: inline-block;
  }
}
